<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      <a routerLink="/home" class="text-white font-bold" style="text-decoration: none; color: white;">
        Octo Quiz
      </a>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/study">Estudar</ion-button>
      <ion-button routerLink="/deck-list">Decks</ion-button>
      <ion-button routerLink="/flashcard-list">Flashcards</ion-button>
      <ion-button (click)="logout()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="isLoading">
      {{ id ? 'Salvar Alterações' : 'Criar Deck' }}
    </ion-button>
  </form>
</ion-content>
