ion-item {
  margin-bottom: 16px;
}

ion-note {
  display: block;
  margin-top: -16px;
  margin-bottom: 16px;
}

.mt-8 {
  margin-top: 32px;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.text-indigo-800 {
  color: #2c3e50;
}

.mb-4 {
  margin-bottom: 16px;
}